.form {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
input[name='search'] {
  width: 50%;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin-right: 20px;
}
label[for='search'] {
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}

.submit-button {
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
}
